/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  height: 60px;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left h2 {
  margin-right: 30px; /* Espacio entre el nombre de la app y las navegaciones */
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  position: relative;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #ffffff;
}

.nav-link:hover {
  background-color: #0056b3;
}

.username {
  margin-right: 20px;
}

.logout-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }

  .navbar-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left h2 {
    margin-bottom: 10px; /* Añadir espacio entre el nombre de la app y los enlaces en vista móvil */
  }

  .navbar-right {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px; /* Espacio adicional entre los elementos en vista móvil */
  }

  .nav-link {
    margin-bottom: 5px; /* Espacio entre los enlaces en vista móvil */
  }

  .logout-button {
    margin-top: 10px; /* Espacio adicional para el botón en vista móvil */
    width: 100%; /* Que ocupe todo el ancho del contenedor */
  }
}

/* Media query para pantallas aún más pequeñas (por ejemplo, teléfonos móviles) */
@media (max-width: 480px) {
  .navbar-left h2 {
    font-size: 18px;
  }

  .nav-link {
    font-size: 14px;
    padding: 8px;
  }

  .logout-button {
    padding: 8px;
    font-size: 14px;
  }
}
