/* src/components/Users.css */
.users-container {
  padding: 0;  /* Ajustar el padding superior a 0 */
  margin: 0;  /* Asegúrate de que no haya margen adicional */
}

.users-container h2 {
 
  margin-top: 0;  /* Asegúrate de que no haya margen superior */
}
  
  .users-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-container th, .users-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .users-container th {
    background-color: #f2f2f2;
  }
  
  .users-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .users-table tr:hover {
    background-color: #ddd;
  }
  
  .users-table th {
    background-color: #007bff;
    color: white;
  }
  
  .users-table td, .users-table th {
    padding: 12px 15px;
  }
  
  .users-table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  